<!DOCTYPE html>
<html>
<head><title>Postal Rate</title>
    <style>
        body {
            background-color: goldenrod;
             text-align: center;
        }
    </style>
</head>
<body>
<h1>
    Your book title is $<%= title %>
    Your book author is $<%= author %>
    Your book genre is $<%= genre %>

</h1>
</body>
</html>