<!DOCTYPE html>
<html>
<head><title>Postal Rate</title>
    <style>
        body {
            background-color: goldenrod;
             text-align: center;
        }
    </style>
</head>
<body>
<h1>
    Your book entry in JSON Format<%= bookJSON %>
</h1>
<h1>
    Your book entry in a bulleted list 
    <ul>
        <li><%=title%></li>
        <li><%=author%></li>
        <li><%=genre%></li>
      </ul>
</h1>
</body>
</html>