<!DOCTYPE html>
<html>
<head><title>Postal Rate</title>
    <style>
        body {
            background-color: rgb(66, 85, 168);
             text-align: center;
        }
    </style>
</head>
<body>
<h2>
    Your book entry in JSON Format<br>
    <%= bookJSON %>
</h2>
<h2>
    Your book entry in a bulleted list 
    <ul>
        <li><%=title%></li>
        <li><%=author%></li>
        <li><%=genre%></li>
      </ul>
</h2>
</body>
</html>