<!DOCTYPE html>
<html>
<head><title>Postal Rate</title>
    <style>
        body {
            background-color: #41B3A3;
             text-align: center;
        }
    </style>
</head>
<body>
<h2>
    The book you entered was
    <ul>
        <li><%=title%></li>
        <li><%=author%></li>
        <li><%=genre%></li>
      </ul>
</h2>
<h1><a href="https://fast-badlands-12735.herokuapp.com/home.html">Return To Home</a></h1>
</body>
</html>